@font-face {
  font-family: norse;
  src: url("fonts/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label,
input {
  display: block;
  -webkit-appearance: none;
  appearance: none;
}

html,
body {
  background-color: #f7f6f6;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow-y: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
}

.banner > img {
  object-fit: fill;
}

.banner-title {
  position: absolute;
  padding: 15px;
  width: 100%;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title h1 {
  font-family: norse;
  color: white;
  font-size: 64px;
  vertical-align: middle;
  padding-top: 20px;
}

.odin-logo {
  width: 20%;
}

.banner__credit-section {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 1%;
  font-size: 12px;
}

.form-section {
  margin-top: 100px;
}

.form-section__header {
  width: 90%;
  max-width: 1000px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-section__form-controls {
  background-color: white;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 12px;
  padding-bottom: 24px;
}

.form-section__form-controls > h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-controls {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: rgba(20, 21, 33, 0.65);
}

.form-control input {
  width: 80%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.form-control input:focus-visible {
}
